<div class="mainBox">

  <div class="heading slide-up-entry">
    About Me
  </div>

  <div class="content slide-up-entry">
      <div class="userInfoBox" *ngIf='userInfo as user'>
        <div class="userInfoText">
          <p>{{user.about}}</p>
        </div>
        <div class="userAction">
          <a class="actionButton">Get My CV</a>
        </div>
        <a href="#"></a>
      </div>

      <div class="profileImageBox">
         <div class="profileImage">

         </div>
      </div>
  </div>

</div>
